<!DOCTYPE html>
<html>
    <head>
        <title>Cinema ConTiLuc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            * { margin-top: 15px }
            body {background-color: black }
            h1, h3 { text-align: center; color: #c30000 }
            input { background-color: activeborder; color: #c30000 }
            label { color: #c30000 }
            button { background-color: activeborder; color: #c30000 }
            table { width: 100%; border-collapse: collapse; color: #c30000 }
            th { border: 1px solid gray; color: #c30000 }
        </style>
    </head>
    <body>
        <h1>Registro do Cinema ConTiLuc</h1>
        <h3>Ingressos</h3>
        <form th:action="${p == null ? '/adicionar' : '/atualizar'}" method="POST">
            <input th:if="${p != null}"
                type="hidden" name="id"
                th:value="${p.getId()}">
            <label>Nome do filme: </label>            
            <input type="text" name="nome"
                   required maxlength="100"
                   th:value="${p?.getNome()}"><br>
            <label>Valor da entrada: </label>
            <input type="text" name="valor"
                   required
                   th:value="${p?.getValor()}"><br>
            <button type="submit"
                    th:text="${p == null ? 'Adicionar' : 'Atualizar'}"></button>
        </form>
        <a href="/">Novo Ingresso</a>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ingresso : ${ingresso}">
                    <td th:text="${ingresso.getNome()}"></td>
                    <td th:text="${'R$ ' + ingresso.getValor()}"></td>
                    <td>
                        <a th:href="${'/excluir?id=' + ingresso.getId()}">Excluir</a>
                        <a th:href="${'/editar?id=' + ingresso.getId()}">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>