<!DOCTYPE html>

<html>
    <head>
        <title>Cinema</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
         <h1>Caixa do Cinema ConTiLuc</h1>
         <h3>Ingressos</h3>
         <form th:action="${p == null ? '/adicionar' : '/atualizar'}" method="POST">
            <input th:if="${p != null}"
                type="hidden" name="id"
                   th:value="${p.getId()}">
            <label>Nome: </label>
            <input type="text" name="nome" required maxlength="100"
                   th:value="${p?.getNome()}"><br>
            <label>Quantidade: </label>
            <input type="number" name="quantidade" required
                   th:value="${p?.getQuantidade()}"><br>
            <label>Valor: </label>
            <input type="text" name="preco" 
                   required
                   th:value="${p?.getPreco()}"><br>
            <button type="submit"
                    th:text="${p == null ? 'Adicionar' : 'Atualizar'}"></button>
        </form>
    </body>
</html>